.hyperspeed-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 320px;
}

.hyperspeed-container canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
